body {
  font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI', Segoe,
    'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
}

.faker-editor-container {
  display: flex;
  height: 100vh;
}

.faker-editor-container > nav {
  width: 60px;
  background-color: #59155a;
}

.faker-editor-container > .tabs-container {
  flex: 1;
  overflow: hidden;
}

.tab-content {
  overflow: hidden;
  height: 0;
}

.tab-content.-active {
  display: block;
  height: 100%;
}

nav > ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: white;
  height: calc(100% - 60px);
}

nav li {
  display: inline-block;
  padding: 15px 14px 15px 10px;
  cursor: pointer;
  position: relative;
  text-align: center;
}

nav li.-active {
  background-color: rgba(255, 255, 255, 0.2);
}
nav li.-active::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  border-right: 4px solid #e535ab;
}

nav li:hover {
  background: rgba(255, 255, 255, 0.1);
}

nav li.-dirty::before {
  content: '*';
  color: white;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

nav li.-disabled,
nav li.-disabled:hover {
  cursor: default;
  background: transparent;
}

nav li.-disabled path,
nav li.-disabled:hover path {
  fill: rgba(255, 255, 255, 0.2);
}

nav li.-pulldown {
  margin-top: auto;
}

nav li.-link {
  padding: 0;
}

nav li.-link > a {
  display: inline-block;
  padding: 15px 14px 15px 10px;
}

nav > .logo {
  padding: 5px;
}

.editor-container {
  display: flex;
  flex-direction: column;
}

.editor-container.-active {
  display: flex;
}
.editor-container > .graphql-editor {
  flex: 1;
  overflow: hidden;
}

.action-panel {
  padding: 10px 40px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
}

.material-button {
  position: relative;

  display: inline-block;
  min-width: 160px;
  text-align: center;
  font-size: 14px;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #1c5a15;
  color: #ecf0f1;

  transition: background-color 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  letter-spacing: 2px;
}

.material-button:hover,
.material-button:focus {
  background-color: #2c6a25;
}

.material-button > * {
  position: relative;
}

.material-button span {
  display: block;
  padding: 10px 24px;
}

.material-button:active:before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.material-button.-disabled,
.material-button.-disabled:hover {
  background-color: #5d795a;
  cursor: default;
  user-select: none;
}

.material-button.-disabled:active::before {
  display: none;
}

.status-bar {
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-message {
  color: red;
}
.status {
  color: #1c5a15;
}
